{% extends 'base.html' %}
{% block content %}
    <a href="{{ url_for('view_employee', empleado_id=empleado.id) }}">&larr; Volver</a>
    <h3 class="mt-2">Editar Empleado</h3>
    <form method="post" class="row g-2">
        <div class="col-md-3"><input class="form-control" name="dni" value="{{ empleado.dni }}" required></div>
        <div class="col-md-4"><input class="form-control" name="nombre" value="{{ empleado.nombre }}" required></div>
        <div class="col-md-3"><input class="form-control" name="cargo" value="{{ empleado.cargo }}"></div>
        <div class="col-md-2"><input type="date" class="form-control" name="fecha_ingreso" value="{{ empleado.fecha_ingreso }}"></div>
        <div class="col-12"><input class="form-control" name="direccion" value="{{ empleado.direccion }}"></div>
        <div class="col-12"><button class="btn btn-primary mt-2">Guardar</button></div>
    </form>
{% endblock %}